body {
    background: rgb(0, 255, 250);
    background: radial-gradient(circle, rgba(0, 255, 250, 1) 0%, rgba(0, 6, 255, 1) 100%);
    background-repeat: no-repeat;

}

.nav {
    overflow: hidden;
}

.carousel {}

/* .retangulo {
    
    margin-left: auto;
    margin-right: auto;
    max-width: 2px;
    height: 100px;
    border-style: solid;
    border-color: rgb(0, 162, 255);
    border-width: 0 100px 10px 50px;
} */
.conteudo {
    border-radius: 25px;
    
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}


.img {
    justify-content: center;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    
}
.img img {
    border-radius: 20px;
}

.ClassResponseForm {
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #fff;
    box-sizing: border-box;
    flex: content;
    text-align: center;
}

.responseForm {
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



.responseForm input {
    box-sizing: inherit;
    border: solid 1px;
}

.responseForm .mb-3 {
    padding-bottom: 20px;

}

.responseForm button {
    margin-right: 0;
    margin-bottom: 20px;
}

.imgbar {
    width: 50px;
    border-radius: 20px 0;
}





.containerCard {
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;

}

.containerCard .card {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 20px;
    transition: ease-in 80ms;
    border-radius: 25px;


}


.card:hover {
    transform: scale(1.03);
}

.containerCard .card img {
    border-radius: 25px;
}


.comments {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: white;
}

.perguntas {
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;

    background-color: #fff;
    color: #000000;
    text-align: center;
    justify-content: center;
}

.perguntas p {
    margin-bottom: 0px;
}
.buttonForm:disabled {
    color: rgba(255, 0, 0, 0.919);
}

.buttonForm {
    background: none;
    color: rgb(0, 0, 0);
    border: none;
}